.header{
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav{
    display: flex;
    gap: 57px;

    & a{
      color: var(--mainColor);
      font-size: 24px;
      font-weight: 400;
      position: relative;

      &::after{
        content: '';
        width: 0%;
        height: 2px;
        border-radius: 5px;
        background-color: var(--mainColor);
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateY(-50%);
        transition: all 200ms ease;
      }
    
      &.active::after{
        content: '';
        width: 100%;
        left: 0;
      }
    
      &:hover::after{
        content: '';
        width: 100%;
        left: 0;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .header{
    height: 100px;

    &__nav{
      gap: 15px;

      & a{
        font-size: 12px;
        text-transform: uppercase;

        & svg{
          height: 47px;
          width: fit-content;
        }
      }
    }

  }
}